/* css personnalisé */
.global{
    background-color: #e1e1e1;
}
.box-min{
    background-color: #fff;
    height: 70vh;
    border-radius: 12px;
}
/* coté gauche du formulaire  */
.d-none.d-lg-flex.image{
    background: url('../abstract_hand_painted_modern_art_canvas_design_0507.jpg');
    background-position: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.text-blur{
    font-size: 42px;
    color: white !important;
    padding: 30px 15px;
    transition: padding 0.5s ease-out, border 0.3s ease;
    height: 80%;
}
.text-blur:hover{
    backdrop-filter: blur(2px);
    background-color: #10101063;
    border-radius: 8px;
    padding: 40px 20px;
}
form .newcol{
    border-color: #999 !important;
    outline: 0;
    transition: all 0.3s ease;
}
form .col .newcol:focus-visible, form .col .newcol:hover{
    border-color: #0d6efd !important;
}
.texterr{
    color: rgb(255, 255, 255) !important;
    text-decoration: 0;
}
@media (max-width:640px) {
    .box-min{
        max-height: 55vh;
    }
}
@media (max-height:640px ) and (max-width:640px){
    .box-min{
        max-height: 80vh;
    }
}
@media (max-width:450px){
    .box-min{
        max-height: 45vh;
    }
}